.education-timeline .container {
   width: 80%;
   padding: 50px 0;
   position: relative;
   overflow: hidden;
}

.education-timeline .container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1;
}

.education-timeline .timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.education-timeline .is-hidden {
  visibility: hidden;
}

.education-timeline .timeline-block-right {
   float: right;
   text-align: left;
}

.education-timeline .timeline-block-left {
   float: left;
   direction: rtl;
   text-align: right;
}

.education-timeline .marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.education-timeline .timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.education-timeline .timeline-content .school-logo {
   width: 60px;
   height: auto;
}

.education-timeline .timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.education-timeline .timeline-content h4 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 16px;
   font-weight: 500
}

.education-timeline .timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.education-timeline .timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}


@media screen and (max-width: 768px) {
   .education-timeline .container:before {
      left: 8px;
      width: 2px;
   }
   .education-timeline .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .education-timeline .timeline-block-right {
      float: none;
      text-align: left;
   }

   .education-timeline .timeline-block-left {
      float: none;
      direction: ltr;
      text-align: left;
   }
}
