#wnd {
  background: rgba(24,24,24,0.8);
  border-radius: .2em;
  white-space: pre-wrap;
  padding: .5em;
  font-family: "Consolas", "Ubuntu Mono", "Monaco", monospace;
  text-align: left;
  color: white;
  height: 500px;
  font-size: 70%;
}

@media screen and (min-width: 1320px) {
  #wnd {
    height: 520px;
  }
}

@media screen and (min-width: 1880px) {
  #wnd {
    height: 590px;
  }
}

.prompt {
  color: #99aaee;
}
.cmd {
  color: #9e9e9C;
}