#wnd {
  background: rgba(24,24,24,0.8);
  border-radius: .2em;
  white-space: pre-wrap;
  padding: .5em;
  font-family: "Consolas", "Ubuntu Mono", "Monaco", monospace;
  text-align: left;
  color: white;
  height: 500px;
  font-size: 70%;
}
.prompt {
  color: #99aaee;
}
.cmd {
  color: #9e9e9C;
}